
@{
    ViewData["Title"] = "Sign In";
}

<form asp-action="SigningIn">
    <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputUsername" name="username">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>

