@model _01._07._21_EXAM_Internet_Shop.Models.Product
@{
    ViewData["Title"] = "Addition product";
    Layout = "_AdminLayout";
}

<form asp-action="AddProduct" asp-controller="Admin" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Content" class="form-label">Content</label>
        <input asp-for="Content" class="form-control">
        <span asp-validation-for="Content"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <input type="number" asp-for="CategoryId" class="form-control">
        <span asp-validation-for="CategoryId"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label">Image</label>
        <input asp-for="Image" class="form-control">
        <span asp-validation-for="Image"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Price</label>
        <input type="number" asp-for="Price" class="form-control">
        <span asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Seller" class="form-label">Seller</label>
        <input asp-for="Seller" class="form-control">
        <span asp-validation-for="Seller"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Code" class="form-label">Code</label>
        <input type="number" asp-for="Code" class="form-control">
        <span asp-validation-for="Code"></span>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
