@using _01._07._21_EXAM_Internet_Shop.Models
@model List<Product>
@{
    ViewData["Title"] = "Products";
    Layout = "_AdminLayout";
}

<div class="list-group">

    <a class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="AddProduct">Add new product</a>

    @foreach (var item in Model)
    {
        <div class="list-group-item list-group-item-action">
            <h5 class="mb-1">@item.Name</h5>
            <div class="d-flex w-100 justify-content-end">
                <a class="btn btn-warning" asp-area="" asp-controller="Admin" asp-action="EditProduct">Edit</a>
                <a class="btn btn-danger" asp-area="" asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</div>

