@using _01._07._21_EXAM_Internet_Shop.Models
@model List<User>
@{
    ViewData["Title"] = "GetUsers";
    Layout = "_AdminLayout";
}

<div class="list-group">

    <a class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="">Add new user</a>

    @foreach (var item in Model)
    {
        <div class="list-group-item list-group-item-action">
            <h5 class="mb-1">@item.Username</h5>
            <h5 class="mb-1">@item.Email</h5>
            <div class="d-flex w-100 justify-content-end">
                <a class="btn btn-warning" asp-area="" asp-controller="Admin" asp-action="EditUser" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-area="" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
 </div>
