
@{
    ViewData["Title"] = ViewData["ProductName"];
}

<h1>@ViewData["ProductName"]</h1>

<div class="card" style="width: 25rem;">
    <img src="~/images/@ViewData["ProductImage"]" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@ViewData["ProductName"]</h5>
        <p class="card-text">@ViewData["ProductInfo"]</p>
        <div class="btn btn-success disabled">Price: $@ViewData["ProductPrice"]</div>
        <input type="submit" class="btn btn-primary disabled" value="Buy">
    </div>
</div>

<p class="lead">
    Тонкий и легкий корпус из шлифованного алюминия
    Металлическая поверхность крышки и области вокруг клавиатуры, уникальная вентиляция в нижней панели в форме буквы X.

    Высокочастотный процессор
    Новейший процессор Intel Core 10-го поколения обеспечивает прирост производительности по сравнению со своим предшественником.

    Тонкая экранная рамка со всех 4-х сторон
    Завораживающее изображение в еще более компактном корпусе.

    Революционная система охлаждения
    Использование 7-ми тепловых трубок для раздельного охлаждения центрального и графического процессоров гарантирует стабильную работу ноутбука под экстремальными игровыми нагрузками.

    Звук высокого разрешения
    Ноутбук наделен высококачественной аудиосистемой, которая гарантирует великолепный звук в играх и при прослушивании музыки. При использовании наушников он поддерживает аудиофильский формат высокой четкости 24 бита/192 кГц.

    Приложение Nahimic 3 – завораживающий звук
    Улучшение пространственного звука в играх и гибкая настройка параметров звучания для музыки, фильмов и голосовой связи.

    Аудиосистема Audio Boost: подлинное звучание
    Встроенный усилитель и позолоченный разъем улучшают детализацию звука на 30%.

    Приложение Dragon Center 2.0 – бесплатный бафф для системы!
    Следите за состоянием ноутбука и оптимизируйте его игровую производительность, используя профили с настройками.
</p>
