@using _01._07._21_EXAM_Internet_Shop.ViewModels
@model LeftSideViewModel
@{
    ViewData["Title"] = "AllProducts";
}

<div>

    @{await Html.RenderPartialAsync("LeftAside", Model);}

    <div class="d-flex align-content-around flex-wrap" style="margin-left: 40px; margin-top: -15.8px;">

        @foreach (var product in Model.Products)
        {
            <div class="card" style="width: 18rem; border: 0.5px solid grey; border-radius: 0; justify-content: space-between;">
                @using (Html.BeginForm("ShowProduct", "Products", FormMethod.Post))
                {
                    <img src=~/images/Products/@product.Image class="card-img-top" alt="image">
                    <div class="card-body">
                        <h6 class="card-title">@product.Name</h6>
                        <input type="submit" class="btn btn-primary" asp-controller="Products" asp-action="ShowProduct" value="More details" />
                        @Html.Hidden("product", product.Id)
                        <input type="submit" asp-controller="Cart" asp-action="AddProduct" asp-route-id="@product.Id" class="btn btn-success" value="Price: $@product.Price" />
                    </div>
                }
            </div>
        }
    </div>
    <hr style="margin-left: 40px;" />
</div>

@{await Html.RenderPartialAsync("Pagination", Model.Products);}


