@using _01._07._21_EXAM_Internet_Shop.Models
@model List<Product>
@{
    ViewData["Title"] = "AllProducts";
}

<div class="d-flex align-content-around flex-wrap">
    @foreach (var product in Model)
    {
    // <div class="row">
            <div class="card" style="width: 18rem;">
                @using (Html.BeginForm())
                {
                    <img src="~/images/1.jpg" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Content</p>
                        <input type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Product" value="More details" />
                        @Html.Hidden("product", $"1")
                        <div class="btn btn-success disabled">Price: $@product.Price</div>
                    </div>
                }
            </div>

       // </div>
     }
</div>

@{await Html.RenderPartialAsync("LeftAside");}


