@using _01._07._21_EXAM_Internet_Shop.Models
@model Cart
@{
    ViewData["Title"] = "Cart";
}

<!-- Cart Modal -->
<div id="cartModal">
    <div>
        <div class="align-text-bottom">
            <div>
                <h5 class="text-center">Cart is empty</h5>
                <br />
                <h6 class="text-center">But it's never too late to fix it :)</h6>
            </div>
            <div class="justify-content-between text-center">
                <a class="btn btn-outline-success" asp-area="" asp-controller="Products" asp-action="AllProducts">Continue shopping</a>
                <button type="button" class="btn btn-outline-dark">Empty cart</button>
                <a class="btn btn-success" asp-area="" asp-controller="Authorization" asp-action="RegisterUser">Checkout</a>
            </div>
        </div>
    </div>
</div>
<!-- Cart Modal -->
