@using _01._07._21_EXAM_Internet_Shop.Models
@model List<Product>
@{
    ViewData["Title"] = "Cart";
}

<!-- Cart Modal -->
<div id="cartModal">
    <div>
        <div class="col align-text-bottom">
            <div>
                @{double fullPrice = 0;}
                @if (Model == null)
                {
                    <h5 class="text-center">Cart is empty</h5>
                    <br />
                    <h6 class="text-center">But it's never too late to fix it :)</h6>
                }
                else if (Model.Count == 0)
                {
                    <h5 class="text-center">Cart is empty</h5>
                    <br />
                    <h6 class="text-center">But it's never too late to fix it :)</h6>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        fullPrice += item.Price;
                        <div class="card" style="width: 18rem; border: 0.5px solid grey; border-radius: 0; justify-content: space-between;">
                            <img src=~/images/Products/@item.Image class="card-img-top" alt="image">
                            <div class="card-body" id="sure">
                                <h6 class="card-title">@item.Name</h6>
                                <input type="submit" asp-controller="" asp-action="" class="btn btn-success m-1" value="Price: $@item.Price" disabled />
                                @using (Html.BeginForm("DeleteItem", "Cart", FormMethod.Post))
                                {
                                    <input id="isSure" type="submit" asp-area="" asp-controller="Cart" asp-action="DeleteItem" asp-route-id="@item.Id" class="btn btn-danger m-1" value="Delete from cart" />
                                    <script>
                                        //function whetherToDelete() {

                                        //    let el = document.createElement("input");
                                        //    el.type = "hidden";
                                        //    el.name = "isSure";

                                        //    if (confirm("Are you sure to delete this item?")) {
                                        //        //el.setAttribute("asp-route-isSure", "true");
                                        //        el.value = "true";
                                        //    } else {
                                        //        //el.setAttribute("asp-route-isSure", "false");
                                        //        el.value = "false";
                                        //    }

                                        //    let div = document.getElementById("sure");
                                        //    div.append(el);
                                        //}
                                    </script>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="text-center justify-content-center align-items-center" style="display: flex;">
                <a class="btn btn-outline-success m-1" style="height: max-content" asp-area="" asp-controller="Products" asp-action="AllProducts">Continue shopping</a>
                @if (Model != null && Model.Count != 0)
                {
                    <a asp-controller="Cart" asp-action="EmptyCart" class="btn btn-outline-dark m-1" style="height: max-content">Empty cart</a>
                    <div class="border border-success m-1" style="display: flex; width: max-content; padding: 20px; align-items: center">
                        <span class="text-danger text-s h2 m-0">@fullPrice ₴</span> <a class="btn btn-success align-items-center" asp-area="" asp-controller="Cart" asp-action="Checkout" style="margin-left: 10px">Checkout</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Cart Modal -->
