@using _01._07._21_EXAM_Internet_Shop.Models
@model Cart
@{
    ViewData["Title"] = "Cart";
}

<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Cart</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @*@if (Model.Products.Count == 0)
        {
            <h5 class="text-center">Cart is empty</h5>
            <br />
            <h6 class="text-center">But it's never too late to fix it :)</h6>
        }
        else
        {
            @foreach (var item in Model.Products)
            {
                <div class="card" style="width: 18rem; border: 0.5px solid grey; border-radius: 0; justify-content: space-between;">
                    <img src=~/images/Products/@item.Image class="card-img-top" alt="image">
                    <div class="card-body">
                        <h6 class="card-title">@item.Name</h6>
                        <input type="submit" asp-controller="" asp-action="" class="btn btn-success" value="Price: $@item.Price" />
                    </div>
                </div>
            }
        }*@
                <h5 class="text-center">Cart is empty</h5>
                <br />
                <h6 class="text-center">But it's never too late to fix it :)</h6>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal" aria-label="Close">Continue shopping</button>
                <button type="button" class="btn btn-outline-dark">Empty cart</button>
                <a class="btn btn-success" asp-area="" asp-controller="Authorization" asp-action="RegisterUser">Checkout</a>
            </div>
        </div>
    </div>
</div>
<!-- Cart Modal -->
