
@{
    ViewData["Title"] = "Pagination";
}

<nav aria-label="Page navigation example" style="margin-left: -200px">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link btn-outline-success" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link btn-outline-success" href="#">1</a></li>
        <li class="page-item"><a class="page-link btn-outline-success" href="#">2</a></li>
        <li class="page-item"><a class="page-link btn-outline-success" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link btn-outline-success" href="#">Next</a>
        </li>
    </ul>
</nav>

