@model Users_14._05._21.Models.User
@{
    ViewData["Title"] = "RegDone";
}


<h3>
    You
    <small class="text-muted">have been successfully accepted.</small>
</h3>

<ul class="list-group list-group-flush">
    <li class="list-group-item">Username: @Model.Username</li>
    <li class="list-group-item">Email: @Model.Email</li>
</ul>


