@using Products_Partial_Views_04._05._21
@model List<Product>

<div class="text-center">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                @item.Id.@item.Name - @item.Price (@item.CreatedDate) 
            </li>
        }
    </ul>
</div>
